### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [3]:
배수5 = [a for a in range(1, 101) if a % 5 == 0]
print(배수5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [5]:
nums = [1,2,3,4,5,6,7,8,9,10]
배수2 = [a for a in nums if a % 2 == 0]
print(배수2)

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}

In [7]:
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
뭐가비싸 = max(fruits, key=fruits.get)
print("가장 비싼 과일은:", 뭐가비싸)

가장 비싼 과일은: apple

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [9]:
for i in range(1, 10):
    print(f"3 x {i} = {3 * i}")

for i in range(1, 10):
    print(f"9 x {i} = {9 * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [10]:
text = input("문자열을 입력하세요: ")

count_dict = {}
for char in text:
    if char in count_dict:
        count_dict[char] += 1
    else:
        count_dict[char] = 1

print(count_dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [ ]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]
nums.sort() 
print("오름차순 정렬:", nums)
print("가장 작은 값:", nums[0])
print("가장 큰 값:", nums[-1])

오름차순 정렬: [1, 1, 2, 3, 4, 5, 6, 9]
가장 작은 값: 1
가장 큰 값: 9

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [13]:
word = input("단어를 입력하세요: ")
if word == word[::-1]:
    print("이 단어는 회문입니다!")
else:
    print("이 단어는 회문이 아닙니다.")

이 단어는 회문이 아닙니다.

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [14]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print("합집합:", A | B)
print("교집합:", A & B)
print("A - B 차집합:", A - B)
print("B - A 차집합:", B - A)

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
A - B 차집합: {1, 2, 3}
B - A 차집합: {8, 6, 7}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [18]:
n = int(input("정수를 입력하세요: "))
합계 = 0
for i in range(1, n + 1):
    합계 += i

print(f"1부터 {n}까지의 합은 {합계}입니다.")

1부터 8까지의 합은 36입니다.

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [17]:
nums = [1, 2, 2, 3, 4, 4, 5]
중복_제거 = list(set(nums))
print(중복_제거)

[1, 2, 3, 4, 5]